<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Добавить задачу
        link(rel="stylesheet", href="/css/styles.css")
    body
        .wrapper
            include include/header.pug
            .full-width.-flex
                include include/left-menu.pug
                .content
                    .ts__header.-flex.-center
                        .title Новая задача
                    .add-task
                        form(action="#")
                        .field-row
                            label Наименование задачи
                            input(type="text")
                        .field-row
                            label Родительская задача
                            select
                                option(value="Светская слобода") Светская слобода
                                option(value="Youtube") Youtube
                        .field-row
                            label Выберите клиента
                            select
                                option(value="Google") Google
                                option(value="Yandex") Yandex
                        .field-row
                            label Сумма для клиента
                            input(type="text")
                        .field-row
                            label Выработка
                            input(type="text")
                        .field-row
                            label Описание задачи
                            textarea
                        button.btn.btn-fillblue Добавить задачу
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="/js/scripts.js")