<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Карточка клиента
        link(rel="stylesheet", href="/css/styles.css")
    body
        .wrapper
            include include/header.pug
            .full-width.-flex
                include include/left-menu.pug
                .content
                    .ts__header.-flex.-center.-wrap
                        a(href="#").to-back Вернуться к задачам
                        .title АКН Развитие
                    .tabs
                        a.active(href="#") О клиенте
                        a(href="#") Задачи
                        a(href="#") Оплаты
                        a(href="#") Акты
                        a(href="#") Документы
                    .c__row.content-white.client-info
                        .c__col-12
                            .client-info__row
                                span Официальное наименование
                                div ИП Логинов Павел
                            .client-info__row
                                span ИНН
                                div 024203222908
                            .client-info__row
                                span Адрес
                                div Уфа, ул. Менделеева, д. 23/2
                    .c__row.content-white
                        .c__col-12
                            div.-flex.-center.mb-10
                                .task-h2.mb-0 Контактные лица
                                a.add-plus(href="#", data-remodal-target="add-contact-client")
                            .contact-person__list.-flex.-wrap
                                .contact-person__item
                                    .contact-person__name.-flex.-center.-justify-between Иванов Пётр Семёнович 
                                        a.contact-person(href="#", data-remodal-target="add-contact-client") 
                                    .contact-person__dolzh менеджер по продажам
                                    .contact-person__row.contact-person__phones
                                        div.-flex.-center 8 (999) 999-99-99  
                                            span доб. 11
                                        div.-flex.-center 8 (999) 999-99-99  
                                            span доб. 11
                                    .contact-person__row.contact-person__mails
                                        div.-flex.-center ivanov@mail.ru
                                        div.-flex.-center ivanov@mail.ru
                                .contact-person__item
                                    .contact-person__name.-flex.-center.-justify-between Иванов Пётр Семёнович 
                                        a.contact-person(href="#", data-remodal-target="add-contact-client") 
                                    .contact-person__dolzh менеджер по продажам
                                    .contact-person__row.contact-person__phones
                                        div.-flex.-center 8 (999) 999-99-99  
                                            span доб. 11
                                        div.-flex.-center 8 (999) 999-99-99  
                                            span доб. 11
                                    .contact-person__row.contact-person__mails
                                        div.-flex.-center ivanov@mail.ru
                                        div.-flex.-center ivanov@mail.ru
                                .contact-person__item
                                    .contact-person__name.-flex.-center.-justify-between Иванов Пётр Семёнович 
                                        a.contact-person(href="#", data-remodal-target="add-contact-client") 
                                    .contact-person__dolzh менеджер по продажам
                                    .contact-person__row.contact-person__phones
                                        div.-flex.-center 8 (999) 999-99-99  
                                            span доб. 11
                                        div.-flex.-center 8 (999) 999-99-99  
                                            span доб. 11
                                    .contact-person__row.contact-person__mails
                                        div.-flex.-center ivanov@mail.ru
                                        div.-flex.-center ivanov@mail.ru
    include include/modals.pug
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="/js/scripts.js")