<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Задачи вертикальный вид
        link(rel="stylesheet", href="/css/styles.css")
    body
        .wrapper
            include include/header.pug
            .full-width.-flex
                include include/left-menu.pug
                .content
                    .task__content
                        .c__row
                            .c__col-12
                                a(href="#").to-back Вернуться к задачам
                                h1 Дизайн для «АКН Развитие»
                                    a.task-edit(href="#")
                                .task-parent Родительская задача 
                                    a(href="#") «Создание сайта»
                                .task-status.task__approved Подтвержден руководителем
                                .task-money.-flex
                                    .task-money__row
                                        span Сумма для клиента
                                        .task-money__input
                                            input(type="text", value="100 000")
                                            span руб.
                                        .task-money-progress 
                                            span.task-money-progress-text Оплачено 40 000  руб.
                                            span.progress-col(style="width:50%")
                                    .task-money__row
                                        span Выработка
                                        .task-money__input
                                            input(type="text", value="80 000")
                                            span руб.
                                        .task-money-progress 
                                            span.task-money-progress-text Подписано актов на 40 000  руб.
                                            span.progress-col(style="width:70%")

                        .c__row
                            .c__col-8
                                .task-h2 Описание задачи
                                textarea
                                .task-h3 Файлы для выполнения
                                .file-list
                                    .file-list__item
                                        a.file-item(href="") Прототип Главная.ai
                                        a.file-delete(href="#") Удалить
                                    .file-list__item
                                        a.file-item(href="") Прототип Главная.ai
                                        a.file-delete(href="#") Удалить
                                label.file-attach(for="file-attach-1")
                                    span Прикрепить файл
                                    input#file-attach-1(type="file")
                            .c__col-4
                                .task-client
                                    .task-client__head
                                        .task-h2 Клиент
                                        a(href="#") ООО «Энергосервис»
                                        span ИНН 024203999098
                                    .task-content
                                        .task-client__row
                                            | Иванов Иван Иванович<br>
                                            | 8 (999) 999-99-99<br>
                                            | 8 (999) 999-99-99<br>
                                            | iva@energo.ru
                                        .task-client__row
                                            | Иванов Иван Иванович<br>
                                            | 8 (999) 999-99-99<br>
                                            | 8 (999) 999-99-99<br>
                                            | iva@energo.ru
                        .c__row
                            .c__col-6
                                .task-h2 Ответственные лица
                                .task__executor
                                    .task-h3 Исполнители
                                    .task__executor__row.-flex.-justify-between
                                        span.task__executor__user Айнур Кильдибеков
                                        span
                                            .task__executor__money 8 000 руб.
                                            a.delete-excutor(href="#")
                                    .task__executor__row.task__executor__add.-flex.-justify-between
                                        select
                                            option(value="1") Айнур Кильдибеков
                                            option(value="1") Айнур Кильдибеков
                                        input(type="text")
                                        .task__executor_add__control.-flex
                                            a.task__executor__assept(href="#")
                                            a.task__executor__cancel(href="#")
                                    a(href="#") Добавить
                                .task__executor
                                    .task-h3 Менеджер задачи
                                    .task__executor__row.-flex.-justify-between
                                        span.task__executor__user Айнур Кильдибеков
                                        span
                                            .task__executor__money 8 000 руб.
                                            a.delete-excutor(href="#")
                                    .task__executor__row.-flex.-justify-between
                                        span.task__executor__user Динислам Фатыхов
                                        span
                                            .task__executor__money 8 000 руб.
                                            a.delete-excutor(href="#")
                                    a(href="#") Добавить
                                .task__executor
                                    .task-h3 Кто привел
                                    .task__executor__row.-flex.-justify-between
                                        span.task__executor__user Айнур Кильдибеков
                                        span
                                            .task__executor__money 8 000 руб.
                                            a.delete-excutor(href="#")
                                    .task__executor__row.-flex.-justify-between
                                        span.task__executor__user Динислам Фатыхов
                                        span
                                            .task__executor__money 8 000 руб.
                                            a.delete-excutor(href="#")
                                    a(href="#") Добавить
                                .task__executor
                                    .task-h3 Кто продал
                                    .task__executor__row.-flex.-justify-between
                                        span.task__executor__user Айнур Кильдибеков
                                        span
                                            .task__executor__money 8 000 руб.
                                            a.delete-excutor(href="#")
                                    .task__executor__row.-flex.-justify-between
                                        span.task__executor__user Динислам Фатыхов
                                        span
                                            .task__executor__money 8 000 руб.
                                            a.delete-excutor(href="#")
                                    a(href="#") Добавить
                            .c__col-6
                                .task-h2 Результат задачи
                                textarea
                                .task-h3 Файлы для выполнения
                                .file-list
                                    .file-list__item
                                        a.file-item(href="#") Прототип Главная.ai
                                        a.file-delete(href="#") Удалить
                                    .file-list__item
                                        a.file-item(href="#") Прототип Главная.ai
                                        a.file-delete(href="#") Удалить
                                .task__send 
                                    form(action="#")
                                        input(type="email", placeholder="Введите e-mail")
                                        button.btn.btn-fillblue Отправить результат на почту
                                    
                        .c__row
                            .c__col-6
                                .task-h2 Документы на подписание
                                .task-docs
                                    .task-h3 Договор
                                    .task-docs__list
                                        .file-list__item
                                            a.file-item(href="#") Договор №31 от 02.02.2020.docx
                                            a.file-delete(href="#") Удалить
                                    .task-docs__control.-flex
                                        a.btn.btn-pink(href="#") Прикрепить вручную
                                        a.btn.btn-fillblue(href="#") Прикрепить вручную
                                .task-docs
                                    .task-h3 Счет к оплате
                                    .task-docs__list
                                        .file-list__item
                                            a.file-item(href="#") Договор №31 от 02.02.2020.docx
                                            a.file-delete(href="#") Удалить
                                    .task-docs__control.-flex
                                        a.btn.btn-pink(href="#") Прикрепить вручную
                                        a.btn.btn-fillblue(href="#") Прикрепить вручную
                            .c__col-6
                                .task-h2 Сканы документов
                                .task-docs
                                    .task-h3 Договор
                                    .task-docs__list
                                        .file-list__item
                                            a.file-item(href="#") Договор №31 от 02.02.2020.docx
                                            a.file-delete(href="#") Удалить
                                    .task-docs__control.-flex
                                        a.btn.btn-fillblue(href="#") Прикрепить
                                .task-docs
                                    .task-h3 Счет к оплате
                                    .task-docs__list
                                        .file-list__item
                                            a.file-item(href="#") Договор №31 от 02.02.2020.docx
                                            a.file-delete(href="#") Удалить
                                    .task-docs__control.-flex
                                        a.btn.btn-fillblue(href="#") Прикрепить
                        .c__row
                            .c__col-4
                                .task-h2 Оплаты от клиента <span>(40 000 / 100 000 руб.)</span>
                                .clients-pays
                                    .clients-pays__row.-flex.-justify-between
                                        span Наличными 
                                        span 10 000 руб.
                                    .clients-pays__row.-flex.-justify-between
                                        span Расчетный счет
                                        span 10 000 руб.
                                    .clients-pays__row.-flex.-justify-between
                                        span Картой на сайте
                                        span 10 000 руб.
                                    input(type="text", placeholder="Введите сумму")
                                    .clients-pays__alert Осталось привязать 30 000 руб <br>Доступно для привязки 40 000 руб
                                    a.btn.btn-fillblue(href="#") Привязать
                            .c__col-8
                                .task-h2 Подписанные акты <span>(60 000 / 100 000 руб.)</span>
                                table.task-act
                                    tr
                                        th № Акта
                                        th Сумма
                                        th Дата создания
                                        th Дата подписания
                                    tr
                                        td 123
                                        td 30 000 руб.
                                        td 12 фев 2021 г.
                                        td 20 фев 2021 г.
                                    tr
                                        td 178
                                        td 30 000 руб.
                                        td 12 фев 2021 г.
                                        td 20 фев 2021 г.
                                .task-h2 Сформированные акты
                                table.task-act
                                    tr
                                        th № Акта
                                        th Сумма
                                        th Дата создания
                                        th
                                    tr
                                        td 123
                                        td 30 000 руб.
                                        td 12 фев 2021 г.
                                        td
                                            .skan-file
                                                a.skan-file__item(href="#") Скан
                                                a.delete(href="#") Удалить
                                    tr
                                        td 123
                                        td 30 000 руб.
                                        td 12 фев 2021 г.
                                        td  
                                            .skan-file
                                                a.skan-file__item(href="#") Скан
                                                a.delete(href="#") Удалить
                                .task__send 
                                    form(action="#")
                                        input(type="text", placeholder="Введите сумму")
                                        button.btn.btn-pink Сформировать
                        .c__row
                            .c__col-12
                                a.btn.btn-red(href="#") Удалить задачу
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="/js/scripts.js")