<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Задачи горизонтальный вид
        link(rel="stylesheet", href="/css/styles.css")
    body
        .wrapper
            include include/header.pug
            .full-width.-flex
                include include/left-menu.pug
                .content
                    .ts__header.-flex.-center
                        .title Задачи
                        .ts__view.-flex
                            a.ts__vertical-view(href="tasks-view-vertical.html") 
                                span
                            a.ts__horizontal-view.active(href="#") 
                                span
                    .ts__filter.-flex.-center.-end
                        .ts__filter__title Фильтр
                        .ts__filter__col
                            span По контрагенту
                            select
                                option(value="Все контрагенты") Все контрагенты
                                option(value="Все контрагенты") Все контрагенты 1
                        .ts__filter__col
                            span По статусу
                            select
                                option(value="Все статусы") Все статусы
                                option(value="В работе") В работе
                        .ts__filter__col
                            span Завершенные в период
                            select
                                option(value="За всё время") За всё время
                                option(value="За последнюю неделю") За последнюю неделю
                    .ts__list
                        .ts__table
                            .ts__table__item
                                .ts__table-row
                                    .ts__table-col Контрагент
                                    .ts__table-col Задача
                                    .ts__table-col Ответственные
                                    .ts__table-col Сумма
                                    .ts__table-col Статус
                            .ts__table__item
                                a(href="#").ts__table-row
                                    .ts__table-col АКН Развитие
                                    .ts__table-col Интеграция с Яндекс недвижимость и Юлой
                                    .ts__table-col Айнур Кильдибеков <br/>Динислам Фатыхов
                                    .ts__table-col 30 000 руб.
                                    .ts__table-col 
                                        span.status.status__inwork 
                                            span В работе
                            .ts__table__item
                                a(href="#").ts__table-row
                                    .ts__table-col ООО «Система»
                                    .ts__table-col Создание сайта
                                    .ts__table-col Айнур Кильдибеков <br>Динислам Фатыхов <br>Александра Сиразетдинова
                                    .ts__table-col 80 000 руб.
                                    .ts__table-col 
                                        span.status.status__inwork 
                                            span В работе
                                a(href="#").ts__table-row
                                    .ts__table-col
                                    .ts__table-col Прототип
                                    .ts__table-col Динислам Фатыхов
                                    .ts__table-col 30 000 руб.
                                    .ts__table-col 
                                        span.status.status__assept 
                                            span Подтвержден руководителем
                                a(href="#").ts__table-row
                                    .ts__table-col
                                    .ts__table-col Прототип
                                    .ts__table-col Динислам Фатыхов
                                    .ts__table-col 30 000 руб.
                                    .ts__table-col 
                                        span.status.status__init
                                            span Инициация
                            .ts__table__item
                                a(href="#").ts__table-row
                                    .ts__table-col ООО «Система»
                                    .ts__table-col Создание сайта
                                    .ts__table-col Айнур Кильдибеков <br>Динислам Фатыхов <br>Александра Сиразетдинова
                                    .ts__table-col 80 000 руб.
                                    .ts__table-col 
                                        span.status.status__inwork 
                                            span В работе
                                a(href="#").ts__table-row
                                    .ts__table-col
                                    .ts__table-col Прототип
                                    .ts__table-col Динислам Фатыхов
                                    .ts__table-col 30 000 руб.
                                    .ts__table-col 
                                        span.status.status__assept 
                                            span Подтвержден руководителем
                                a(href="#").ts__table-row
                                    .ts__table-col
                                    .ts__table-col Прототип
                                    .ts__table-col Динислам Фатыхов
                                    .ts__table-col 30 000 руб.
                                    .ts__table-col 
                                        span.status.status__assept 
                                            span Подтвержден руководителем
                                
    script(src="js/scripts.js")