header.header.-flex.-justify-between
    .logo
        a(href="#")
            img(src="img/logo.svg", alt="")
    .header__login.-flex.-center
        span.header__name Динислам Фатыхов
        a.btn(href="#") Выйти
