.main-nav
    ul
        li.nav-tasks.active
            a.-flex(href="#") 
                span
                | Задачи
        li.nav-pay
             a.-flex(href="#") 
                span
                | Оплаты
        li.nav-acts
             a.-flex(href="#") 
                span
                |  Акты
        li.nav-klients
             a.-flex(href="#") 
                span
                |  Клиенты
        li.nav-team
             a.-flex(href="#") 
                span
                |  Команда
        li.nav-money
             a.-flex(href="#") 
                span
                |  Зарплаты
        li.nav-debet
             a.-flex(href="#") 
                span
                |  Дебиторка
        li.nav-otch
             a.-flex(href="#") 
                span
                |  Отчеты
        li.nav-settings
             a.-flex(href="#") 
                span
                |  Настройки